#
# Copyright 2014, NICTA
#
# This software may be distributed and modified according to the terms of
# the GNU General Public License version 2. Note that NO WARRANTY is provided.
# See "LICENSE_GPLv2.txt" for details.
#
# @TAG(NICTA_GPL)
#

menuconfig LIB_ETHIF
    bool "Build ethernet interface library"
    depends on HAVE_LIBC && LIB_LWIP && LIB_UTILS && LIB_PLATSUPPORT
    default y

config LIB_ETHDRIVER_RX_DESC_COUNT
    int "Number of RX descriptors"
    depends on LIB_ETHIF
    default 128
    help
        The number of RX descriptors in the descriptor ring for the 
        driver.

config LIB_ETHDRIVER_TX_DESC_COUNT
    int "Number of TX descriptors"
    depends on LIB_ETHIF
    default 128
    help
        The number of TX descriptors in the descriptor ring for the
        driver.

config LIB_ETHDRIVER_NUM_PREALLOCATED_BUFFERS
    int "Number of preallocated DMA buffers"
    depends on LIB_ETHIF
    default 512
    help
        To avoid allocating and freeing buffers continuously the driver
        can preallocate a base amount internally.

config LIB_ETHDRIVER_PREALLOCATED_BUF_SIZE
    int "Size of preallocated DMA buffers"
    depends on LIB_ETHIF
    default 2048
    help
        The size of each preallocated buffer that will be used for RX and
        TX allocation requests. This needs to be the maximum of the RX buffer
        size and the MTU. Currently the largest RX buffer of any of the
        implemented drivers is 2048, and the MTU is 1500
