#
# Copyright 2014, NICTA
#
# This software may be distributed and modified according to the terms of
# the GNU General Public License version 2. Note that NO WARRANTY is provided.
# See "LICENSE_GPLv2.txt" for details.
#
# @TAG(NICTA_GPL)
#

menuconfig LIB_ELFLOADER
    bool "Build elfloader"
    default y
    depends on ARCH_ARM
    select LIB_CPIO

choice
    prompt "Boot image type"
    default IMAGE_ELF
    depends on LIB_ELFLOADER
    help
        Select ELF or EFI boot image type

    config IMAGE_BINARY 
        bool "Binary Boot Image"
        help
            Generate binary boot image

    config IMAGE_ELF
        bool "ELF Boot Image"
        help
            Generate ELF boot image

    config IMAGE_EFI 
        bool "EFI Boot Image"
        depends on ARCH_AARCH64
        help
            Generate EFI boot image
endchoice

choice
    prompt "seL4 mode"
    default ARM_MONITOR_MODE if PLAT_TK1
    default ARM_S_SUPERVISOR_MODE if PLAT_IMX6
    depends on PLAT_TK1 || PLAT_IMX6
    help
        Select the mode to load the seL4 kernel.

config ARM_NS_SUPERVISOR_MODE
    bool "Load the seL4 kernel in non-secure supervisor mode"
    help
        The default mode for seL4 is non-secure supervisor mode

config ARM_S_SUPERVISOR_MODE
    bool "Load the seL4 kernel in secure supervisor mode"
    depends on PLAT_IMX6
    help
       The default mode for seL4 on i.MX6 Sabre.

config ARM_MONITOR_MODE
    bool "Load the seL4 kernel in monitor mode"
    help
        The elfloader loads the seL4 kernel in monitor mode.

config ARM_HYPERVISOR_MODE
    bool "Load the seL4 kernel in hypervisor mode (NS)"
    depends on PLAT_TK1
    help
        The elfloader loads seL4 kernel in hypvisor mode.

endchoice

config ARM_MONITOR_HOOK
    bool "Install hooks in monitor mode"
    default n 
    depends on PLAT_TK1 || PLAT_IMX6
    help
       Install SMC call handlers in monitor mode.

config GPT_PTIMER_NS_PL1_ACCESS
    bool "Enable GPT physical timer access for NS PL1"
    depends on ARM_NS_SUPERVISOR_MODE
    help
        Enalbe the GPT physical timer access for NS PL1

config ARM_ERRATA_764369
    bool "Workaround for ARM errata 764369"
    depends on LIB_ELFLOADER
    default y
    help
        Work around for a Cortex-A9 errata. Derived from Linux kernel.
