#
# Copyright 2014, NICTA
#
# This software may be distributed and modified according to the terms of
# the GNU General Public License version 2. Note that NO WARRANTY is provided.
# See "LICENSE_GPLv2.txt" for details.
#
# @TAG(NICTA_GPL)
#

menuconfig LIB_ELFLOADER
    bool "Build elfloader"
    default y
    depends on ARCH_ARM
    select LIB_CPIO

choice
    prompt "Boot image type"
    depends on LIB_ELFLOADER
    help
        Select ELF or EFI boot image type
        
    config IMAGE_ELF
        bool "ELF Boot Image"
        help
            Generate ELF boot image

    config IMAGE_EFI 
        bool "EFI Boot Image"
        depends on ARCH_AARCH64
        help
            Generate EFI boot image
endchoice

config ARM_ERRATA_764369
    bool "Workaround for ARM errata 764369"
    depends on LIB_ELFLOADER
    default y
    help
        Work around for a Cortex-A9 errata. Derived from Linux kernel.
